@font-face {
  font-family: "KoddiUDOnGothic";
  src: url("../../../app/styles/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoddiUDOnGothic";
  src: url("../../../app/styles/fonts/KoddiUDOnGothic/KoddiUDOnGothic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KoddiUDOnGothic";
  src: url("../../../app/styles/fonts/KoddiUDOnGothic/KoddiUDOnGothic-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Jayusigan";
  src: url("../../../app/styles/fonts/Hakgyoansim_Jayusigan/Hakgyoansim_JayusiganOTFR.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Poster";
  src: url("../../../app/styles/fonts/Hakgyoansim_Poster/Hakgyoansim_PosterOTFB.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../../../app/styles/fonts/Paperlogy/Paperlogy-4Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../../../app/styles/fonts/Paperlogy/Paperlogy-7Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url("../../../app/styles/fonts/Paperlogy/Paperlogy-8ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KCC Hanbit";
  src: url("../../../app/styles/fonts/Kcc_Hanbit/KCC-Hanbit.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Ocarina";
  src: url("../../../app/styles/fonts/Hakhyoansim_Ocarina/Hakgyoansim_OcarinaOTFR.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("../../../app/styles/fonts/nanum-square-neo/NanumSquareNeo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("../../../app/styles/fonts/nanum-square-neo/NanumSquareNeo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumSquareNeo";
  src: url("../../../app/styles/fonts/nanum-square-neo/NanumSquareNeo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumBarunPen";
  src: url("../../../app/styles/fonts/nanum-barun-pen/NanumBarunpen-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumBarunPen";
  src: url("../../../app/styles/fonts/nanum-barun-pen/NanumBarunpen-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Eohangkkumigi";
  src: url("../../../app/styles/fonts/Hakgyoansim_Eohangkkumigi/Hakgyoansim_Eohangkkumigi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Saekyeonpil";
  src: url("../../../app/styles/fonts/Hakgyoansim_Saekyeonpil/Hakgyoansim_SaekyeonpilOTFR.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Susukkang";
  src: url("../../../app/styles/fonts/Hakgyoansim_Susukkang/Hakgyoansim_SusukkangOTFL.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Siganpyo";
  src: url("../../../app/styles/fonts/Hakgyoansim_Siganpyo/Hakgyoansim_SiganpyoOTFR.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Boardmarker";
  src: url("../../../app/styles/fonts/Hakgyoansim_Boardmarker/Hakgyoansim_BoardmarkerOTFR.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Allimjang";
  src: url("../../../app/styles/fonts/Hakgyoansim_Allimjang/Hakgyoansim_Allimjang_OTF_Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Allimjang";
  src: url("../../../app/styles/fonts/Hakgyoansim_Allimjang/Hakgyoansim_Allimjang_OTF_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Tteokbokki";
  src: url("../../../app/styles/fonts/Hakgyoansim_Tteokbokki/Hakgyoansim_Tteokbokki-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Dunggeunmiso";
  src: url("../../../app/styles/fonts/Hakgyoansim_Dunggeunmiso/Hakgyoansim_Dunggeunmiso_OTF-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Dunggeunmiso";
  src: url("../../../app/styles/fonts/Hakgyoansim_Dunggeunmiso/Hakgyoansim_Dunggeunmiso_OTF-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Keriskedu";
  src: url("../../../app/styles/fonts/Keriskedu/KERISKEDU-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Keriskedu";
  src: url("../../../app/styles/fonts/Keriskedu/KERISKEDU-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Bandal";
  src: url("../../../app/styles/fonts/Hakgyoansim_Bandal/Hakgyoansim_BandalOTFL.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Badasseugi";
  src: url("../../../app/styles/fonts/Hakgyoansim_Badasseugi/Hakgyoansim_Badasseugi_OTF-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Badasseugi";
  src: url("../../../app/styles/fonts/Hakgyoansim_Badasseugi/Hakgyoansim Badasseugi_OTF-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hakgyoansim Nalgae";
  src: url("../../../app/styles/fonts/Hakgyoansim_Nalgae/Hakgyoansim_NalgaeOTFR.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kerisbaeum";
  src: url("../../../app/styles/fonts/KerisBaeum/KERISBAEUM-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kerisbaeum";
  src: url("../../../app/styles/fonts/KerisBaeum/KERISBAEUM-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kerisbaeum";
  src: url("../../../app/styles/fonts/KerisBaeum/KERISBAEUM-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoormSans";
  src: url("../../../app/styles/fonts/Goorm_Sans/goorm_sans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoormSans";
  src: url("../../../app/styles/fonts/Goorm_Sans/goorm_sans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
